<!Doctype html>
<html ng-app="myapp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Project</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="./app.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    </head>
<body ng-controller="MainCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <a href="#" ng-click="setCurrentCategory(null)" >
                        <img class="logo" src="assets/img/logo.png">  </a>
                <ul class="nav nav-sidebar">
                        <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
                                <a href="#" ng-click="setCurrentCategory(category)">{{category.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div ng-class="{active: isSelectedBookmark(bookmark.id)}" ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}">
                            <button type="button" class="close">&times;</button>
                            <button type="button" class="btn btn-link" ng-click="setEditedBookmark(bookmark);startEditing();" ><span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
                        </div>
                <hr/>
                 <!-- CREATING -->
                <div ng-if="shouldShowCreating()">
                    <button type="button" class="btn btn-link" ng-click="startCreating();">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create Bookmark
                    </button>
                    <form class="create-form" ng-show="isCreating" role="form" ng-submit="createBookmark(newBookmark);" novalidate>
                        <div class="form-group">
                            <label for="newBookmarkTitle">Book Mark Title</label>
                            <input type="text" class="form-control" id="newBookmarkTitle" ng-model="newBookmark.title" placeholder="Enter Title"/>
                        </div>
                        <div class="form-group">
                            <label for="newBookmarkURL">Book Mark URL</label>
                            <input type="text" class="form-control" id="newBookmarkURL" ng-model="newBookmark.url" placeholder="Enter URL"/>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg">Create</button>
                        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelCreating()">Cancel</button>
                    </form>
                   
                </div>
                <hr/>
                 <!-- EDITING -->
                <div ng-if="shouldShowEditing()">
                    <h4>{{editedBookmark.title}}</h4>
                        <form class="edit-form" ng-show="isEditing" role="form" ng-submit="updateBookmark(editedBookmark);" novalidate>
                                <div class="form-group">
                                    <label for="editedBookmarkTitle">Book Mark Title</label>
                                    <input type="text" class="form-control" id="editedBookmarkTitle" ng-model="editedBookmark.title" placeholder="Enter Title"/>
                                </div>
                                <div class="form-group">
                                    <label for="editedBookmarkURL">Book Mark URL</label>
                                    <input type="text" class="form-control" id="editedBookmarkURL" ng-model="editedBookmark.url" placeholder="Enter URL"/>
                                </div>
                                <button type="submit" class="btn btn-info btn-lg">Save</button>
                                <button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancelEditing()">Cancel</button>
                            </form> 
                </div>
               
            </div>
        </div>
    </div>
<script>
var app=angular.module("myapp",[]);
    app.controller("MainCtrl",function($scope){
        $scope.categories=[
            {"id":0,"name":"Books"},
            {"id":1,"name":"Tutorials"},
            {"id":2,"name":"Online Courses"}
           
        ],
        $scope.bookmarks=[
            {"id":0,"title":"Buy Books Online","url":"https://amazon.com","category":"Books"},
            {"id":1,"title":"Refer Tutorials","url":"https://tutorialpoint.com","category":"Tutorials"},
            {"id":2,"title":"Enroll Online Courses","url":"https://w3schools.org","category":"Online Courses"}
           
        ];
       
       
        //creating and editing states

        $scope.isCreating=false;
        $scope.isEditing=false;
        $scope.currentCategory=null;
        $scope.editedBookmark=null;

        function setEditedBookmark(bookmark){
            $scope.editedBookmark=angular.copy(bookmark);
        }
         function setCurrentCategory(category){
            $scope.currentCategory=category;
            cancelCreating();
            cancelEditing();
        } 

        function isCurrentCategory(category){
            return $scope.currentCategory !== null && category.name === $scope.currentCategory.name;
        }
       
        function startCreating(){
            $scope.isCreating=true;
            $scope.isEditing=false;
            resetCreateForm();
        }
        function cancelCreating(){
            $scope.isCreating=false;
            
        }
        function startEditing(){
            $scope.isCreating=false;
            $scope.isEditing=true;
        }
        function cancelEditing(){
            $scope.isEditing=false;
            $scope.editedBookmark = null;    
        }

        function shouldShowCreating(){
            return $scope.currentCategory && !$scope.isEditing;
        }
        function shouldShowEditing(){
            return $scope.isEditing && !$scope.isCreating;
        }
       
        //CRUD Operations

        function resetCreateForm(){
            $scope.newBookMark={
                title:'',
                url:'',
                category:$scope.currentCategory.name
           }
        }
        function createBookmark(bookmark){
            console.log("-----1----------"+bookmark.title)
            bookmark.id=$scope.bookmarks.length;
            $scope.bookmarks.push(bookmark);
            console.log("-----2----------"+ $scope.bookmarks)
            resetCreateForm();
        }
        $scope.createBookmark=createBookmark;
        $scope.resetCreateForm=resetCreateForm;
        $scope.setCurrentCategory=setCurrentCategory;
        $scope.isCurrentCategory=isCurrentCategory;
        $scope.startCreating=startCreating;
        $scope.startEditing=startEditing;
        $scope.cancelEditing=cancelEditing;
        $scope.cancelCreating=cancelCreating;
        $scope.shouldShowCreating=shouldShowCreating;
        $scope.shouldShowEditing=shouldShowEditing;
        $scope.setEditedBookmark=setEditedBookmark;

    })</script>

</body>
</html>
